:host {
  position: relative;
  z-index: 1;

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--secondary-accent);
      font-size: 2rem;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a {
          display: block;
          color: white;
          text-decoration: none;
        }
      }
    }

    .nav-links {
      a {
        padding: 1rem;
        transition: color 300ms ease-in;

        &:hover {
          color: var(--secondary-accent);
        }
      }
    }

    .social-links {
      a {
        padding: 0 0.6rem;

        object,
        img {
          height: 2.4rem;
          width: 2.4rem;
        }
      }
    }
  }
}
