:host {
  position: relative;
  z-index: 1;

  header {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .brand a {
        color: var(--secondary-accent);
        font-size: 2rem;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        text-transform: capitalize;
        text-decoration: none;
        cursor: pointer;
      }

      ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          align-items: center;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }

      .nav-links {
        li {
          margin: 0 1rem;

          a {
            transition: color 0.3s ease-in;

            &:hover {
              color: var(--secondary-accent);
            }
          }
        }
      }

      .social-links {
        li {
          margin: 0 0.8rem;

          a {
            display: flex;
            transition: opacity 0.3s ease-in;

            &:hover {
              opacity: 0.6;
            }

            object,
            img {
              height: 1.8rem;
              width: 1.8rem;
            }
          }
        }
      }
    }
  }
}
