<header>
  <nav>
    <div class="brand"><a href="#">Shirsendu Bairagi</a></div>
    <ul class="nav-links">
      <li><a href="#work">Work</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <ul class="social-links">
      <li><a href="https://twitter.com/shba017" target="_blank"><img src="assets/twitter.svg" alt="twitter"></a></li>
      <li><a href="https://github.com/shba007" target="_blank"><img src="assets/github.svg" alt="github"></a></li>
      <li><a href="https://dribbble.com/shba007" target="_blank"><img src="assets/dribbble.svg" alt="dribbble"></a></li>
    </ul>
  </nav>
</header>
