:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 300px;
  padding: 0 28px;
  border-radius: 16px;
  background: rgba(25, 118, 210, 0.1);
  //rgba(33, 115, 182, 0.05); // var(--shadow);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.375);

  .logo {
    width: 6rem;
    height: 6rem;
    transform: translateY(-40px);
  }
  .title {
    text-align: center;
    margin: 0 0 0.6rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
  .details {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
  }
  a {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    padding: 4px 12px;
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    background-color: var(--secondary-accent);
    transform: translateY(12px);

    object,
    img {
      height: 1rem;
      width: 1rem;
    }
  }
}
