<div class="hero-container">
  <span class="texts">
    <p class="tags">#NightOwl #DarkTheme #MLLover</p>
    <h1 class="quote">Following the <br>"Logical Sequential Steps"<br> to avoid FailError</h1>
    <object class="underline" data="assets/underline.svg" type="image/svg+xml">
      <img class="underline" src="assets/underline.svg" alt="underline">
    </object>
    <button class="call-to-action">Hire Me</button>
  </span>
  <object class="laptop" data="assets/laptop.svg" type="image/svg+xml">
    <img class="laptop" src="assets/laptop.svg" alt="laptop">
  </object>
</div>
<span class="scroll">
  <object data="assets/scroll.svg" type="image/svg+xml">
    <img src="assets/scroll.svg" alt="scroll">
  </object>
</span>