:host {
  .hero-container {
    display: flex;
    justify-content: space-between;
    margin: 36px 0 0;

    .texts {
      position: relative;

      .tags,
      .quote {
        margin: 0.4rem;
        padding: 0;
      }
      .tags {
        letter-spacing: 0.3rem;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        opacity: 0.8;
      }
      .quote {
        position: relative;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4rem;

        /* &:after {
          content: "";
          position: absolute;
          width: 2px;
          height: 28%;
          border-right: 2px solid whitesmoke;
          animation: blink 1s infinite ease;
        } */

        #highlight {
          position: relative;
          display: inline-block;
          border: 3px red solid;

          &:after {
            content: url("/assets/underline.svg");
            position: absolute;
            left: -0.5rem;
            top: 1.7rem;
          }
        }
      }
      .call-to-action {
        position: absolute;
        bottom: 5rem;
        padding: 8px 16px;
        font-size: 1rem;
        font-weight: 500;
      }
    }
    .laptop {
      width: 25rem;
      height: 25rem;
    }
  }
  .scroll {
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateY(-20px);

    object,
    img {
      width: 4rem;
      height: 4rem;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
