<div class="hero-container">
  <span class="texts">
    <p class="tags">#NightOwl #DarkTheme #MLLover</p>
    <h1 class="quote" #textContent>
      Following the <br>
      Logical Sequential Steps" <br>
      to avoid <span id="highlight">FailError</span>
    </h1>
    <button class="primary-btn call-to-action">Hire Me</button>
  </span>
  <object class="laptop" data="assets/laptop.svg" type="image/svg+xml">
    <img class="laptop" src="assets/laptop.svg" alt="laptop">
  </object>
</div>
<span class="scroll">
  <object data="assets/scroll.svg" type="image/svg+xml">
    <img src="assets/scroll.svg" alt="scroll">
  </object>
</span>
