:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;

  .background {
    position: absolute;
    width: 112px;
    height: 112px;
    z-index: -1;
  }

  object,
  img {
    width: 144px;
    height: 144px;
  }
}
