:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.2rem;
  padding: 0.6rem;
  background: url("/assets/hexagon.svg") no-repeat center;
  background-size: contain;

  object,
  img {
    width: 144px;
    height: 144px;
  }
}
