:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 32px;
  padding: 2rem;
  border-radius: 16px;
  background: rgba(25, 118, 210, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.375);
  transform: translateY(-10%);

  /* The alert message box */
  .status {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    border-radius: 8px;
    background-color: #4caf50;
    z-index: 3;
    transform: translateY(-150%);

    p {
      padding: 0;
      margin: 0;
    }
    /* The close button */
    span {
      color: white;
      font-weight: bold;
      font-size: 22px;
      cursor: pointer;
      transition: color 0.3s ease-in;

      /* When moving the mouse over the close button */
      &:hover {
        color: var(--primary);
      }
    }
  }

  h3 {
    margin: 1.2rem 0 0.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    *[type="text"] {
      width: 20rem;
      height: 2.4rem;
      border: 0;
      padding: 0.3rem 1.4rem;
      outline: none;
      border-radius: 2rem;
      color: whitesmoke;
      font-size: 1.2rem;
      font-family: "Poppins", sans-serif;
      background: rgba(12, 15, 35, 0.1);
      backdrop-filter: blur(20px);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.375), inset 0px 0px 6px #000000;
    }
    textarea[type="text"] {
      resize: none;
      height: 10rem;
      padding: 0.8rem 1.4rem;
    }
    [type="submit"] {
      width: 20rem;
      padding: 0.6rem 0;
      font-size: 1.2rem;
    }
  }
}
