:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 2rem;
  border-radius: 16px;
  background: rgba(25, 118, 210, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.375);
  transform: translateY(-96px);

  h3 {
    margin: 1.2rem 0 0.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }

  input,
  textarea,
  button {
    width: 20rem;
    border: 0;
    outline: none;
    font-size: 1.2rem;
    border-radius: 2rem;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
  }
  input,
  textarea {
    height: 2.4rem;
    padding: 0.3rem 1.4rem;
    background: rgba(12, 15, 35, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.375), inset 0px 0px 6px #000000;
  }
  textarea {
    resize: none;
    height: 10rem;
    padding: 0.8rem 1.4rem;
  }

  button {
    padding: 0.6rem 0;
    background-color: var(--secondary-accent);
    cursor: pointer;
  }
}
