:host {
  section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: 16px 96px;
  }
  .dark {
    background: url("/assets/herringbone.png") var(--primary);
    background-blend-mode: color-burn, normal;
    filter: drop-shadow(0px -3px 4px rgba(0, 0, 0, 0.375))
      drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.375));
  }

  .dark:nth-child(2) {
    margin: 384px 0 96px;
  }
  .dark:last-child {
    margin-top: 192px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .title {
    margin: 36px auto;
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
  }
  #work {
    transform: translateY(-340px);
  }
  .cards {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    transform: translateY(-240px);
  }
  #skills,
  .hexagons {
    transform: translateY(-120px);
  }
  .hexagons {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
  }
  .light {
    align-items: center;
  }
  #about {
    font-size: 2rem;

    strong {
      font-family: "Montserrat", sans-serif;
    }
  }
  #contact {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 50%;
    margin: -18rem 0 0;

    img {
      max-width: 40%;
      height: auto;
    }
  }
}
