@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap");
:root {
  --primary: #0c0f23;
  --primary-accent: #151a3d;
  --shadow: #1d2037;
  --secondary: #1566b7;
  --secondary-accent: #1976d2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif; // font-family: "Montserrat", sans-serif;
  background-color: var(--secondary);
  overflow-x: hidden;

  .primary-btn {
    border: 0;
    border-radius: 3rem;
    outline: none;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;

    &:not(:disabled) {
      background: var(--secondary-accent);
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.375);
      cursor: pointer;

      &:hover {
        background: linear-gradient(180deg, #1976d2 0%, #1669bb 100%), #1976d2;
      }
      &:active {
        background: linear-gradient(0deg, #1976d2 0%, #1669bb 100%), #1976d2;
      }
    }

    &:disabled {
      background-color: var(--primary-accent);
      cursor: not-allowed;
    }
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  border-radius: 10px;
  background-color: var(--primary-accent);
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-accent);
}
